
.main{
    background: #6bbfc5;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header__heading {
    color: #ffffff;
    text-align: center;
}
.header__logo {
    height:30px;
    width: auto;
    display: block;
    margin: auto;
}
.kyc__signUp__article {
    position: relative;
}
.kyc__signUp__heading {
    height: 60px;
    background: #ffffff;
    border-radius: 20px 20px 0px 0px;
}
.kyc__signUp__heading--label {
    position: absolute;
    right: 10px;
    top:-5px;
    color:#ffffff;
    background: #6bbfc5;
    padding: 10px;
    border-radius: 0px 20px 0px 0px;
}

.kyc__signUp__para {
    padding: 25px;
    background: #ffffff;
    margin: 0px;
    color: #6bbfc5;
    border-radius: 0px 0px 20px 20px;
}
.kyc__signUp__circle {
    background: #6bbfc5;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: -20px;
    top: -3px;
}
.inner-circle {
    height: 60px;
    width: 60px;
    background: #91f0f7;
    position: relative;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    line-height: 50px;
}

/* .kyc {
    border: 1px solid #ffffff;
    display: grid;
    border-radius: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    padding: 20px;
}
.kyc__signUp__article {
    background: #ffffff;
    border-radius: 30px; 
    padding: 20px;
    color: #6bbfc5;
    position: relative;
 
}
.kyc__signUp__circle {
    min-height: 80px;
    width: 80px;
    background: #6bbfc5;
    border-radius: 50%;
    position:absolute;
    z-index:1; 
    left: 25px;
    text-align: center;
}
.kyc__signUp__heading {
    background: #6bbfc5;
    color: #ffffff;
    border-radius: 0px 30px 0px 0px; 
    text-align: center;
} */